body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Homenaje', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #151515;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}